<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="action_wechat_enterprise_account" model="ir.actions.act_window">
            <field name="name">企业账号</field>
            <field name="res_model">odoosoft.wechat.enterprise.account</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_message" model="ir.actions.act_window">
            <field name="name">企业消息</field>
            <field name="res_model">odoosoft.wechat.enterprise.message</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <record id="action_wechat_enterprise_log" model="ir.actions.act_window">
            <field name="name">记录</field>
            <field name="res_model">odoosoft.wechat.enterprise.log</field>
            <field name="view_mode">tree</field>
        </record>

        <record id="action_wechat_enterprise_user" model="ir.actions.act_window">
            <field name="name">通讯录</field>
            <field name="res_model">odoosoft.wechat.enterprise.user</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_batch_user" model="ir.actions.act_window">
            <field name="name">批量创建微信账户</field>
            <field name="res_model">odoosoft.wechat.enterprise.user.batch.wizard</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record>
        <record id="action_wechat_force_create_user" model="ir.actions.act_window">
            <field name="name">强制创建微信账户</field>
            <field name="res_model">odoosoft.wechat.enterprise.user</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
            <field name="context">{'is_no_wechat_sync':True,'form_view_ref':'odoosoft_wechat_enterprise.view_wechat_enterprise_force_user_form'}
            </field>
        </record>

        <record id="action_wechat_enterprise_application" model="ir.actions.act_window">
            <field name="name">应用</field>
            <field name="res_model">odoosoft.wechat.enterprise.application</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_filter" model="ir.actions.act_window">
            <field name="name">过滤器</field>
            <field name="res_model">odoosoft.wechat.enterprise.filter</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
            <field name="domain">[('is_template','=',False),('is_system','=',False)]</field>
        </record>

        <record id="action_wechat_enterprise_template" model="ir.actions.act_window">
            <field name="name">消息模板</field>
            <field name="res_model">odoosoft.wechat.enterprise.message.template</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <record id="action_wechat_enterprise_map" model="ir.actions.act_window">
            <field name="name">模块与app关联</field>
            <field name="res_model">odoosoft.wechat.enterprise.map</field>
            <field name="view_mode">tree</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_filter_template" model="ir.actions.act_window">
            <field name="name">过滤器模板</field>
            <field name="res_model">odoosoft.wechat.enterprise.filter</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
            <field name="domain">[('is_template','=',True),('is_system','=',False)]</field>
            <field name="context">{'default_is_template':True}</field>
        </record>
        <record id="action_wechat_filter_template_system" model="ir.actions.act_window">
            <field name="name">系统过滤器</field>
            <field name="res_model">odoosoft.wechat.enterprise.filter</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
            <field name="domain">[('is_system','=',True)]</field>
            <field name="context">{'default_is_system':True}</field>
        </record>
        <record id="action_wechat_department" model="ir.actions.act_window">
            <field name="name">部门管理</field>
            <field name="res_model">odoosoft.wechat.enterprise.department</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_wechat_homepage_enterprise" model="ir.actions.act_url">
            <field name="name">打开企业号官网</field>
            <field name="url">http://qy.weixin.qq.com</field>
        </record>


        <record id="action_sync_wechat_server_manual" model="ir.actions.server">
            <field name="name">Sync Wechat Server Manual</field>
            <field name="condition">True</field>
            <field name="model_id" ref="model_odoosoft_wechat_enterprise_user"/>
            <field name="code">self.pool["odoosoft.wechat.enterprise.user"].sync_wechat_server(cr, uid, context=context)</field>
            <field name="state">code</field>
            <field name="type">ir.actions.server</field>
        </record>

        <menuitem id="menuitem_wechat_enterprise_root" name="微信企业号" sequence="450"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_user"/>

        <menuitem id="menuitem_wechat_en_message" name="消息" parent="menuitem_wechat_enterprise_root" sequence="50"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_message"/>
        <menuitem id="menuitem_wechat_en_message_manage" name="所有消息" parent="menuitem_wechat_en_message" sequence="20"
                  action="action_wechat_enterprise_message"/>

        <menuitem id="menuitem_wechat_en_filter" name="过滤器" parent="menuitem_wechat_enterprise_root" sequence="60"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_filter"/>
        <menuitem id="menuitem_wechat_en_filter_manage" name="过滤器" parent="menuitem_wechat_en_filter" sequence="20"
                  action="action_wechat_enterprise_filter"/>
        <menuitem id="menuitem_wechat_filter_template" name="过滤器模板" parent="menuitem_wechat_en_filter" sequence="30"
                  action="action_wechat_filter_template"/>

        <menuitem id="menuitem_wechat_en_template_root" name="模板" parent="menuitem_wechat_enterprise_root" sequence="70"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_filter"/>
        <menuitem id="menuitem_wechat_en_template_manage" name="模板" parent="menuitem_wechat_en_template_root" sequence="30"
                  action="action_wechat_enterprise_template"/>

        <menuitem id="menuitem_wechat_en_user" name="通讯录" parent="menuitem_wechat_enterprise_root" sequence="70"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_contact"/>
        <menuitem id="menuitem_wechat_en_user_manage" name="所有用户" parent="menuitem_wechat_en_user" sequence="20"
                  action="action_wechat_enterprise_user"/>
        <menuitem id="menuitem_wechat_batch_user" name="批量创建用户" parent="menuitem_wechat_en_user" sequence="30"
                  action="action_wechat_batch_user"/>
        <menuitem id="menuitem_wechat_force_create_user" name="强制创建用户" parent="menuitem_wechat_en_user" sequence="40"
                  action="action_wechat_force_create_user"/>
        <menuitem id="menuitem_wechat_department" name="部门" parent="menuitem_wechat_en_user" sequence="50"
                  action="action_wechat_department"/>
        <menuitem id="menuitem_wechat_server_sync" name="手动同步服务器用户数据" parent="menuitem_wechat_en_user" sequence="60"
                  action="action_sync_wechat_server_manual"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_admin"/>

        <menuitem id="menuitem_wechat_log_root" name="记录" parent="menuitem_wechat_enterprise_root" sequence="80"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_admin"/>
        <menuitem id="menuitem_wechat_log_user" name="Log" parent="menuitem_wechat_log_root" sequence="20"
                  action="action_wechat_enterprise_log"/>

        <menuitem id="menuitem_wechat_enterprise_config" name="设置" parent="menuitem_wechat_enterprise_root" sequence="100"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_admin"/>
        <menuitem id="menuitem_wechat_en_account" name="账户" parent="menuitem_wechat_enterprise_config" sequence="20"
                  action="action_wechat_enterprise_account"/>
        <menuitem id="menuitem_wechat_en_application" name="应用" parent="menuitem_wechat_enterprise_config" sequence="30"
                  action="action_wechat_enterprise_application"/>
        <menuitem id="menuitem_wechat_en_map" name="模块关联" parent="menuitem_wechat_enterprise_config" sequence="40"
                  action="action_wechat_enterprise_map"/>
        <menuitem id="menuitem_wechat_filter_template_system" name="系统过滤器" parent="menuitem_wechat_enterprise_config" sequence="50"
                  action="action_wechat_filter_template_system"/>

        <menuitem id="menuitem_wechat_home_page" name="官网" parent="menuitem_wechat_enterprise_root" sequence="110"
                  groups="odoosoft_wechat_enterprise.group_wechat_enterprise_user"/>
        <menuitem id="menuitem_wechat_home_page_enterprise" name="企业号官网" parent="menuitem_wechat_home_page" sequence="20"
                  action="action_wechat_homepage_enterprise"/>

        <act_window id="action_wechat_user_batch_invite"
                    multi="True"
                    key2="client_action_multi" name="批量邀请关注"
                    res_model="odoosoft.wechat.enterprise.user.batch.invite.wizard" src_model="odoosoft.wechat.enterprise.user"
                    view_mode="form" target="new" view_type="form"/>
    </data>
</openerp>